# Postgres DB Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=voice_assistant
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Models & Voice Config
WHISPER_MODEL_SIZE=base
WHISPER_DEVICE=cpu
PIPER_MODEL_PATH=models/piper/en_US-lessac-medium.onnx
